[submodule "emacs-bash-completion"]
	path = emacs-bash-completion
	url = git@github.com:szermatt/emacs-bash-completion.git
[submodule "sass-mode"]
	path = sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "haml-mode"]
	path = haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "color-theme-molokai"]
	path = color-theme-molokai
	url = https://github.com/alloy-d/color-theme-molokai.git
[submodule "twilight-emacs"]
	path = twilight-emacs
	url = https://github.com/crafterm/twilight-emacs.git
[submodule "rvm.el"]
	path = rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "mustache-emacs"]
	path = mustache-emacs
	url = git@github.com:mustache/emacs.git
[submodule "ruby-mode"]
	path = ruby-mode
	url = git@github.com:ruby/elisp.git
