[submodule "emacs-bash-completion"]
	path = emacs-bash-completion
	url = git://github.com/szermatt/emacs-bash-completion.git
[submodule "emacs_utils"]
	path = emacs_utils
	url = git@github.com:on-site/emacs_utils.git
[submodule "sass-mode"]
	path = sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "haml-mode"]
	path = haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "color-theme-molokai"]
	path = color-theme-molokai
	url = https://github.com/alloy-d/color-theme-molokai.git
[submodule "twilight-emacs"]
	path = twilight-emacs
	url = https://github.com/crafterm/twilight-emacs.git
